[Desktop Entry]
Name=Install VitusOS
Comment=VitusOS Ares Installer
Exec=vitus-installer
Icon=vitus-installer
Terminal=false
Type=Application
Categories=System;
Keywords=install;setup;
StartupNotify=true
NoDisplay=true
